<tr class="table container-fluid w-100">
    <td class="d-flex justify-content-center align-content-center"><img src="https://via.placeholder.com/50"
            alt="Product 2" class="img-fluid"></td>
    <td>{{product.name}}</td>
    <td>
        <input type="number" class="form-control" value="1" min="1">
    </td>
    <td>{{product.price}}</td>
    <td>{{product.price * product.quantity}}</td>
    <td class="">
        <button class="btn btn-danger btn-sm" (click)="removeProduct(product)">Remove</button>
    </td>
</tr>