<nav class="mynav d-print-none container-fluid navbar-dark bg-dark">
    <nav class="container navbar navbar-dark navbar-expand-lg">


        <div class="d-block w-100">
            <a class="navbar-brand flex-grow-1" routerLink="/">Moz Burgers</a>

            <button (click)="toggleNavBar()" class="navbar-toggler float-end" type="button" data-toggle="collapse"
                data-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>


        <ul [ngClass]="{'myNav' : showNavBar}" class="navbar-nav d-flex mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/addProduct">AddProduct</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/customers">customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex" routerLink="/cart">Cart <div
                        class="ms-2 d-inline-block d-flex justify-content-center align-items-center bg-primary qSquare">
                        <div class="text-light fw-semibold">{{quantity}}</div>
                    </div></a>
            </li>
        </ul>

    </nav>
</nav>



<style>
    ul li a {
        color: white !important;
    }

    .qSquare {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .qSquare p {
        line-height: 1;
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    @media (max-width : 992px) {
        .myNav {
            display: none !important;
        }
    }
</style>