<div class="container">
    <h2 class=" mt-5 pt-3">Add Product</h2>
    <form class="pb-5 mb-5" #f="ngForm" (ngSubmit)="submit(f)">
        <div class="mb-3 d-none">
            <label for="id" class="form-label">ID</label>
            <input type="text" id="id" name="id" class="form-control" [(ngModel)]="defaultId">
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input required minlength="3" maxlength="26" type="text" id="name" name="name" class="form-control" ngModel>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea required minlength="3" maxlength="30" id=" description" name="description" class="form-control"
                ngModel></textarea>
        </div>

        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select id="category" name="category" class="form-select" ngModel>
                <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Product Image</label>
            <input type="file" required id="image" name="image" class="form-control" (change)="onImageUpload($event)">
            <div class="mt-3">
                <img [src]="imageUrl" alt="Product Image" class="img-thumbnail" />
            </div>
        </div>

        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="number" id="quantity" name="quantity" class="form-control" ngModel>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" id="price" name="price" class="form-control" ngModel />
        </div>

        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
</div>