<app-set-cart-customer></app-set-cart-customer>
<div class="container mt-1 pt-1  mytable">
    <h2 class="mb-4 d-print-none">Shopping Cart</h2>
    <table class="table container">
        <thead class="thead-dark">
            <tr>
                <th class="" scope="col">Product</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Subtotal</th>
                <th class="d-print-none" scope="col">Action</th>
            </tr>
        </thead>
        <tbody *ngIf="length > 0">
            <tr *ngFor="let product of (products$ | async)">
                <td class=""><img class="cartItemImg d-inline-block"
                        [src]="'http://localhost:8080/product/getImage/'+product.imagePath" alt="Product 2"
                        class="img-fluid"></td>
                <td>{{product.name}}</td>
                <td>
                    <button (click)="makeQuantityChangeSub(product.cartQuantity,product)"
                        class="cart-Btn d-print-none  btn btn-primary small fw-medium">-</button>

                    <h5 class="d-inline-block px-4">{{product.cartQuantity.toString().padStart(2, '0')}}</h5>

                    <button [disabled]="(product.quantity -product.cartQuantity) == 0"
                        (click)="makeQuantityChange(product)"
                        class="cart-Btn d-print-none btn btn-primary small fw-medium">+</button>

                </td>
                <td class="text-right">{{product.price}}</td>
                <td class="text-right">{{(product.price * product.cartQuantity) | currency:'Rs. ' }}</td>
                <td>
                    <button class="btn btn-danger d-print-none btn-sm" (click)="removeProduct(product)">Remove</button>
                </td>
            </tr>
            <tr class="d-none">
                <td><img src="" alt="k" class="img-fluid"></td>
                <td>kk</td>
                <td>
                    <input type="number" class="form-control" value="k" min="1">
                </td>
                <td>k</td>
                <td>k</td>
                <td>
                    <button class="btn btn-danger btn-sm d-print-none">Remove</button>
                </td>
            </tr>

            <tr>
                <td colspan="4" class="text-right"><strong>Total:</strong></td>
                <td class="d-print-none">Items : {{length.toString().padStart(2, '0')}}</td>
                <td class="">{{subTotal| currency:'Rs. ' }}</td>
            </tr>
        </tbody>


    </table>
    <div class="d-flex justify-content-center align-items-center noItems" *ngIf="length < 1">
        <h3>No Items To Display</h3>
    </div>
</div>
<div class="container d-flex justify-content-between mt-3">
    <button routerLink="/" class="btn btn-secondary d-print-none">Continue Shopping</button>
    <button (click)="print()" *ngIf="length > 0" class="btn btn-primary  d-print-none">Checkout</button>
</div>

<p class="container mySmall d-none d-print-block text-end">Please note that a signature is not required, as this
    document is
    intended for
    printing purposes only.</p>
<h6 class="container d-none d-print-block text-end">Manager Shehan.</h6>

<style>
    .mySmall {
        font-size: 8px;
    }

    tr {
        border: 1px solid #ccc;
        width: 100%;
    }

    td {
        height: 100%;
    }

    tr [app-cart-item] {
        width: 100%;
    }

    .noItems {
        height: 30vh;
        background-color: white;
    }

    td img {
        height: 40px !important;
    }

    .art-Btn {
        width: 50px;
    }
</style>