<div class="product-card d-inline-block container mt-5 mx-2">
    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="Product Image">
        <div class="card-body">

            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">description is here
            </p>
            <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-primary">View Details</a>
                <a (click)="addToCart(product)" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
</div>

<style>
    .product-card {
        max-width: 286px;
    }
</style>